.fade_in{
    opacity: 1 !important;
}

.display_block{
    display: block !important;
}

.slide_up{
    opacity: 1 !important;
    top: 10% !important;
}

.slide_in{
    opacity: 1 !important;
    transform: translateX(0) !important;
}