@import './classes';

// PRODUCT PAGE BUTTON

#filter_button{
    @extend %blueButton;
}

// HEADER BUTTON

header{

    a{
        @extend %blueButton;
        margin-top: 1em;
    }
}

// CART - CHECKOUT LINK

#checkout_link{

    @extend %blueButton;
    padding: 1.5em;
}

// FORM BUTTON

form{

    button{
        @extend %blueButton;
        border: none;
    }
}

.disabled_button{
    background-color: grey !important;
}