@import '../generals/variables';

%primaryButton{
    cursor: pointer;
    font-size: .85em;
    display: inline-block;
    padding: 1em 2em;
    color: $buttonTextColor !important;
    background-color: $secondaryColor;
    border-radius: .2em;
    margin-top: 2em;
    transition: background-color $animationSpeed;

    &:hover{
        background-color: $darkerSecondaryColor;
    }

    &:active{
        background-color: $lighterSecondaryColor;
    }
}

// PRODUCT PAGE BUTTON

#filter_button{
    @extend %primaryButton;
}

// HEADER BUTTON

header{

    a{
        @extend %primaryButton;
        margin-top: 1em;
    }
}

// CART - CHECKOUT LINK

#checkout_link{

    @extend %primaryButton;
    padding: 1.5em;
}

// FORM BUTTON

form{

    button{
        @extend %primaryButton;
        border: none;
    }
}

.disabled_button{
    background-color: $darkerPrimaryColor !important;
}