@import 'variables';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $fontStyle;
}

a{
    text-decoration: none;
    color: $linkColor;
    transition: color 300ms;

    &:hover{
        color: $buttonBackground;
    }

    &:active{
        color: darken($color: $buttonBackground, $amount: 10%);
    }
}

.container{
    padding-right: .5em;
    padding-left: .5em;
}

.page_title{
    font-weight: 500;
    margin-bottom: 1em;
}

h1, h2, h3{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}