$primaryColor: rgb(230, 230, 230);
$secondaryTextColor: #8c92a0;
$lighterPrimary:  rgb(245, 245, 245);

$linkColor: black;

$buttonBackground: #207dff;

$fontStyle: Rubik, sans-serif;

$goodColor: #8bb911;
$warningColor: #fe9600;
$errorColor: #fe4236;