@import 'variables';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $fontStyle;
}

a{
    text-decoration: none;
    color: $linkColor;
}

.container{
    padding-right: .5em;
    padding-left: .5em;
}

h1, h2, h3{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}