@import '../generals/variables.scss';
@import '../generals/mixins.scss';

nav{
    width: 100%;
    background-color: $lighterPrimaryColor;
}

.nav_container{

    ul{

        li{
            margin-right: 2em;
        }

        display: none;
        font-weight: 300;
    }

    h1 a{
        color: black;
        letter-spacing: .05em;
    }

    img{

        &:hover{
            transform: scale(1.2);
        }

        &:active{
            transform: scale(.9);
        }

        cursor: pointer;
        transition: transform $animationSpeed;
    }

    @include flex;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

@media (min-width: 750px) {

    .nav_container{

        img{
            display: none;
        }

        ul{

            li{
                margin-right: 1.5em;
            }

            @include flex;
        }
    }
}

@media (min-width: 1000px) {

    nav{
        font-size: 1.1em;
    }
}