@import '../generals/variables';

.message_container{
    visibility: hidden;
    @include fixedPosition;
    opacity: 0;
    padding: .5em;
    border: .2em solid;
    background-color: white;
    line-height: 1.5em;
    text-align: center;
    transition: opacity $animationSpeed;
    z-index: 99;
}

#good_message{
    border-color: $goodColor;
    min-width: 15em;
}

#warning_message{
    border-color: $warningColor;
    min-width: 19em;
}

#error_message{
    border-color: $errorColor;
    min-width: 19em;
}

@media (min-width: 750px) {

    #good_message{
        min-width: 20em;
    }

    #warning_message, #error_message{
        min-width: 25em;
    }
}