@import '../generals/variables';

.form_wrapper{

    button{
        margin: 0;
    }

    a{
        color: $buttonBackground;

        &:hover{
            color: darken($color: $buttonBackground, $amount: 10%);
        }

        &:active{
            color: darken($color: $buttonBackground, $amount: 15%);
        }
    }

    img{

        &:hover{
            transform: scale(1.5)
        }
        
        &:active{
            transform: scale(.7)
        }
        
        transition: transform 300ms;
    }

    max-width: 25em;

    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    background-color: white;
    z-index: 10;
    transition: top 300ms, opacity 300ms;
}

.form_img_wrapper{
    text-align: right;
    margin-bottom: 1em;
}