@import '../generals/variables';

.form_wrapper{

    button{
        margin: 0;
    }

    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 1em;
    background-color: white;
    z-index: 9;
    transition: transform 300ms, opacity 300ms;
}

.form_img_wrapper{
    text-align: right;
    margin-bottom: 1em;
}

#register_here{
    color: $buttonBackground;
}

#log_in_here{
    color: $buttonBackground;
}