@import '../generals/variables';

.form_wrapper{

    button{
        margin: 0;
    }

    a{
        color: $secondaryColor;

        &:hover{
            color: $darkerSecondaryColor;
        }

        &:active{
            color: $lighterSecondaryColor;
        }
    }

    img{

        &:hover{
            transform: scale(1.5)
        }
        
        &:active{
            transform: scale(.7)
        }
        
        cursor: pointer;
        transition: transform $animationSpeed;
    }

    max-width: 25em;

    opacity: 0;
    visibility: hidden;
    width: 100%;
    @include fixedPosition(30%);
    padding: 1.5em 2em;
    background-color: white;
    z-index: 10;
    transition: top $animationSpeed, opacity $animationSpeed;
}

.form_img_wrapper{
    text-align: right;
    margin-bottom: 1em;
}