.menu_overlay{

    .overlay_img_wrapper{

        img{

            &:hover{
                transform: scale(2);
            }

            &:active{
                transform: scale(1);
            }

            cursor: pointer;
            transform: scale(1.5);
            transition: transform 300ms;
        }

        padding-right: 2em;
        text-align: right;
    }

    a{
        font-weight: 300;
        color: white;
    }

    ul{

        position: relative;
        text-align: center;
        line-height: 2em;
        font-size: 1.75em;
        top: 30%;
        transition: top 300ms;
    }

    display: none;
    opacity: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.700);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 3em;
    transition: opacity 300ms;
}