@import '../generals/variables';

.menu_overlay{


    img{

        &:hover{
            transform: scale(2);
        }

        &:active{
            transform: scale(1);
        }

        position: fixed;
        top: 10%;
        right: 10%;
        cursor: pointer;
        transform: scale(1.5);
        transition: transform $animationSpeed;
    }

    a{
        font-weight: 300;
        color: white;
    }

    ul{
        position: relative;
        text-align: center;
        line-height: 2em;
        font-size: 1.75em;
        top: 30%;
        transition: top $animationSpeed;
    }

    overflow-y: scroll;
    display: none;
    opacity: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.700);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 3em;
    transition: opacity $animationSpeed;
}