@import '../generals/variables';
@import '../generals/mixins';

#search_bar{

    .search_input_wrapper{
        @include flex;
    }

    input{
        font-size: 1.1em;
        border: none;
        width: 70%;
        height: 35px;
        padding-left: .5em;

        &:focus{
            outline: none;
        }
    }

    @include boxShadow;
    max-width: 55em;
    width: 90%;
    @include fixedPosition;
    visibility: hidden;
    background-color: white;
    z-index: 8;
}

#close_search{

    &:hover{
        background-color: $darkerSecondaryColor;
    }

    &:active{
        background-color: $lighterSecondaryColor;
    }

    cursor: pointer;
    display: block;
    width: 30%;
    text-align: center;
    background-color: $secondaryColor;
    color: $buttonTextColor;
    padding: .5em;
    transition: background-color $animationSpeed;
}

.products_search_container{

    li{
        padding: 1em;
        @include border(bottom);
    }

    ul{
        overflow-y: scroll;
        max-height: 90vh;
    }

    img{
        width: 40%;
    }

    h1{
        font-weight: 400;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    line-height: 1.5em;
    text-align: center;
}

.searched_item_link{

    span{
        display: block;
    }

    .searched_item_status{
        color: darken($color: $primaryColor, $amount: 30%);
    }
}

@media (min-width: 1000px) {

    #search_bar{

        .products_search_container{
            max-height: 0px;
            position: absolute;
            width: 85%;
            background-color: white;
            @include boxShadow; 
            z-index: 1;
        }

        .searched_item_link{

            img{
                width: 15%;
            }
            
            h1{
                width: 30%;
                margin: 0;
                margin-left: 5%;
                font-size: 1.1em;
            }

            span{
                width: 25%;
            }

            font-size: 1.3em;
            font-weight: 300;
            @include flex($wrap: nowrap);
        }
    
        input{
            height: 51px;
            width: 85%;
            z-index: 2;
        }
    }

    #close_search{
        width: 15%;
        padding: 1em 0;
    }
}