@import '../generals/variables';
@import '../generals/mixins';

#search_bar{

    .search_input_wrapper{
        @include flex;
    }

    input{
        border: none;
        width: 65%;
        height: 2em;
    }

    width: 100%;
    position: absolute;
    top: 10%;
    display: none;
    background-color: $primaryColor;
    padding-left: 1em;
    z-index: 8;
}



#close_search{
    display: block;
    width: 30%;
    text-align: center;
    background-color: $buttonBackground;
    color: white;
    padding: .5em;
}