@import '../generals/variables';
@import '../generals/mixins';

.cart_header{

    .cart_wide_width{
        display: block;
    }

    .cart_narrow_width{
        display: none;
    }

    font-weight: 500;
    font-size: 1.15em;
    padding: 1.3em 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
}

#cart_content{

    img{
        padding: 1em;
        width: 75%;
        max-width: 10em;
    }

    .product{

        &:last-child{
            border-bottom: none !important;
        }

        padding: .5em;
        position: relative;
        border-bottom: 1px solid $primaryColor;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .remove_product_wrapper{

        a{
            display: block;
        }

        .remove_product{
            width: 100%;
            padding: 0;
        }

        transform: scale(2);
        top: 10%;
        right: 10%;
        position: absolute;
    }

    .empty_cart{
        font-size: 1.5em;
        text-align: left;
        padding: 1em .5em;

    }

    margin-bottom: 2em;
    border: 1px solid $primaryColor;
    border-top: none;
    text-align: center;
}

.cart_total{

    @include flex();

    h1{
        font-size: 1em;
        font-weight: 400;
    }

    font-weight: 400;
    line-height: 2em;
    font-size: 1.5em;
}

@media (min-width: 750px) {

    #cart{
        
        .cart_wide_width{
            width: 40%;
            @include flex;
        }

        .cart_narrow_width{
            width: 20%;
        }

        .cart_header{

            .cart_wide_width{
                display: block;
    
            }
        
            .cart_narrow_width{
                display: block;
            }
            
            @include flex;
        }
    }

    #cart_content{

        .product{
        
  
    
            img{
                width: 43%;
            }
    
            .remove_product_wrapper{
    
                img{
                    width: 25%;
                }
                
                transform: scale(1);
                position: static;
            }
    
            @include flex;
            font-weight: 300;
            font-size: 1.2em;
        }
    }
}