@import '../generals/mixins';
@import '../generals/variables';

.product_table_checkout{

    li{
        font-weight: 300;
    }

    opacity: 0;
    display: none;
    transition: opacity 300ms;
}

.page_header{
    font-weight: 500;
    margin-bottom: 1em;
}

.checkout_item_preview{
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 1em 0;
    background-color: $lighterPrimary;
    margin-bottom: 2.5em;
}

.credit_card_wrapper{

    ul{

        li{
            margin-right: 1em;

            &:last-child{
                margin-right: 0;
            }
        }

        @include flex;
    }

    font-weight: 300;
    border: 1px solid $primaryColor;
    border-bottom: none;
    padding: 1em .5em;
    background-color: $lighterPrimary;
    @include flex;
}

.card_fields_wrapper{

    #form_card_security_code{
        margin-bottom: 0;
    }

    border: 1px solid $primaryColor;
    padding: 2em;
}

.product_table_checkout{
    
    img{
        width: 60%;
        max-width: 10em;
        margin: 1em auto;
        display: block;
    }

    span{
        display: block;
        margin-bottom: 1em;
    }

    li{
        border-bottom: 1px solid $primaryColor;
    }


    text-align: center;
}

.checkout_price_wrapper{
    padding: 1em 0;
    border-bottom: 1px solid darken($color: $primaryColor, $amount: 10%);
    @include flex;
}

.checkout_total{

    h3{
        font-weight: 500;
    }

    padding: 1em 0;
    @include flexStart;
}

@media (min-width: 750px) {

    .product_table_checkout{
        
        li{

            img{
                width: 10%;
                margin: 1em 0;
            }

            @include flex;
            flex-wrap: unset;
        }
    }
}

@media (min-width: 1000px) {

    .checkout_item_preview{
        display: none;
    }

    #checkout_form{

        .radio_button_section{
            @include flexStart;
        }

        .radio_button_wrapper{
            width: 49.5%;
        }

        width: 55%;
    }

    .checkout_container{
        @include flexStart;
        flex-direction: row-reverse;
    }

    .product_table_checkout{

        img{
            width: 15% !important;
        }

        span{
            margin-bottom: 0;
        }

        li{
            padding: .5em 0;
        }

        border-left: 1px solid $primaryColor;
        padding-left: 1.5em;;
        max-width: 26em;
        width: 35%;
        display: block !important;
        opacity: 1;
    }
}