.dashboard_section{

    form{
        text-align: left;
        line-height: 1em;
    }

    .order_number{

        span{
            font-size: 1.5em;
            font-weight: 400;
        }

        @include flex;
    }

    img{
        width: 40%;
    }

    h1{
        font-weight: 500;
        text-align: left;
        margin-bottom: 1em;
    }

    h2,h3{
        font-weight: 400;
    }

    span{
        font-weight: 300;
    }

    li{
        margin-bottom: .3em;

        &:last-child{
            margin-bottom: 0;
        }
    }

    line-height: 1.5em;
    margin-bottom: 3em;
    text-align: center;
}

.order_history_list{

    li{
        padding: .5em 0;
        border-bottom: 1px solid $primaryColor;

        &:first-child{
            padding-top: 0;
        }

        &:last-child{
            border-bottom: none;
        }
    }

    h2{
        font-size: 1em;
        @include flex;
    }

    span{
        @include flex;
    }

    strong{
        font-weight: 500;
    }

    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
}

.dashboard_arrow_container{

    .arrow_container_overlay{

        &:hover{
            background-color: rgba(0, 0, 0, 0.050);
        }

        &:active{
            background-color: rgba(0, 0, 0, 0.100);
        }

        cursor: pointer;
        width: 100%;
        z-index: 2;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 300ms;
    }

    img{
        height: 75%;
        width: auto;
        transform: translateY(15%);
    }


    height: 2.5em;
    position: relative;
    background-color: $lighterPrimary;
}

.dashboard_section_content_wrapper{
    overflow-y: hidden;
    max-height: 0px;
    transition: max-height 300ms;
}

@media (min-width: 750px) {

    .pending_order_list_row{

        ul{

            .dashboard_product{
                display: block;
            }

            li{

                img{
                    width: 30%;
                    padding: .5em 0;
                }

                @include flex;
            }
            

            padding: .5em;
            width: 49%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        padding: .5em;

        @include flex;
    }

    .order_history_list{

        li{
            border-bottom: none;
            width: 50%;
            margin-bottom: 0;
            padding: 0;

            &:nth-child(odd){
                padding-right: .5em;
                border-right: 1px solid $primaryColor;
            }

            &:nth-child(even){
                padding-left: .5em;
            }
        }

        @include flex;
        padding-bottom: .5em;
    }

    .dashboard_arrow_container{
        height: 3em;
    }
}