@import '../generals/variables';
@import '../generals/mixins';

header {

    img{
        display: none;
    }
    
    h1{
        font-size: 2.5em;
        letter-spacing: .15em;
        margin-bottom: .5em;
    }

    h2{
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: .5em;
    }

    h3{
        font-size: 1.3em;
        font-weight: 300;
        margin-bottom: .5em;
    }

    text-align: center;
}

.item_list{
    @include flexStart;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 3em;
    border-top: 1px solid $primaryColor;
}

.item{

    &:nth-child(odd){
        border-left: none;
    }

    img{
        width: 75%;
        height: auto;
        transition: transform 300ms;
    }

    a{
        display: block;
        width: 100%;
        padding: .5em;
    }

    h1{
        font-size: 1em;
    }

    .item_text{

        h1{
            font-size: 1.35em;
            font-weight: 400;
        }

        span{
            color: $secondaryTextColor;
        }

        width: 100%;
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1.75em;
    }

    &:hover img{
        transform: scale(.7);
    }

    position: relative;
    border-right: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
    text-align: center;
    width: 50%;
    padding-bottom: 7.5em;
}

.one_product_row {
 
    img{
        width: 70%;
    }

    aside{
        font-size: 2em;
    }

    a{
        font-size: .4em;
        display: inline-block;
        padding: 1em 2em;
        background-color: black;
        color: white;
        margin: 1.75em 0;
    }

    text-align: center;
}