@import '../generals/variables';
@import '../generals/mixins';

header {

    img{
        display: none;
    }
    
    h1{
        font-size: 2.5em;
        letter-spacing: .15em;
        margin-bottom: .5em;
    }

    h2{
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: .5em;
    }

    h3{
        font-size: 1.3em;
        font-weight: 300;
        margin-bottom: .5em;
    }

    text-align: center;
}

.item_list{
    @include flexStart;
    width: 100%;
    margin-bottom: 3em;
    margin-top: 3em;
    border-top: 1px solid $primaryColor;
}

.item{

    &:nth-child(odd){
        border-left: none;
    }

    img{
        width: 75%;
        height: auto;
        transition: transform 300ms;
    }

    a{
        display: block;
        width: 100%;
        padding: 1em;
    }

    h1{
        font-size: 1em;
    }

    .item_text{

        h1{
            color: black !important;
            font-size: 1.35em;
            font-weight: 400;
        }

        span{
            color: $secondaryTextColor;
        }

        width: 100%;
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1.75em;
    }

    &:hover img{
        transform: scale(.7);
    }

    position: relative;
    border-right: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
    text-align: center;
    width: 50%;
    padding-bottom: 7.5em;
}

.one_product_row {
 
    img{
        max-width: 20em;
        width: 70%;
    }

    aside{
        font-size: 2em;
    }

    a{
        font-size: .4em;
        display: inline-block;
        padding: 1em 2em;
        background-color: black;
        color: white;
        margin: 1.75em 0;
        transition: background-color 300ms;

        &:hover{
            background-color: lighten($color: black, $amount: 20%);
        }
    }

    text-align: center;
}

// RESPONSIVE

@media (min-width: 750px) {

    .one_product_row{

        img{
            max-width: unset;
            width: 50%;
        }

        h1{
            font-size: 6vw;
        }

        a{
            font-size: 1.75vw;
        }

        @include flex;
        justify-content: flex-end;
    }

    .item_list{
    
        .item{
            width: 33.3333333%;
        }
    }

    header{

        .header_main{
            @include flex;
            justify-content: flex-end;
        }

        .header_title{
            font-size: 2.3vw;
        }

        img{
            display: block;
            width: 40%;
        }
    }
}

@media (min-width: 1000px) {

    header{

        .header_main{
            justify-content: space-between;
        }

        .header_title{
            font-size: 1.438em;
        }

        img{
            width: 45%;
        }
    }

    .one_product_row{

        img{
            width: 45%;
        }

        .center_text{

            h1{
                font-size: 3.750em;
            }
    
            a{
                font-size: 1.094em;
            }

            font-size: 1em;
        }
        
        justify-content: space-between;
    }
}