@import '../generals/variables';
@import '../generals/mixins';

.image_wrapper{
    
    img{
        @include border;
        padding: 1em;
        width: 85%;
        max-width: 30em;
        height: auto;
    }

    text-align: center;
    margin-bottom: 2em;
}

.product_page_text_wrapper{

    h1{
        font-size: 1.9em;
        font-weight: 400;
        margin-bottom: .5em;
    }

    p{
        color: $secondaryTextColor;
        margin-bottom: 1em;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .price, .availability{
        font-size: 1.5em;
        color: $secondaryColor;
    }

    line-height: 2.5em;
}

.Reserved{
    color: $secondaryTextColor;
}

@media (min-width: 750px) {

    .product_section{

        aside{
            width: 49%;
        }

        @include flex($align: flex-start);
    }
}