.side_content{
    display: none;
}

#aside_overlay{
    display: none;
}

#aside_button{
    z-index: 9;
    position: fixed;
    bottom: 10%;
    right: 10%;
    transform: scale(1.5);
    padding: .2em;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}