@import 'nav';
@import 'search-bar';
@import 'messages';
@import '../generals/variables.scss';

.overlay{
    display: none;
}

.menu_overlay{
    display: none;
}

#log_in_form_wrapper{
    display: none;
}

#register_form_wrapper{
    display: none;
}

header {

    img{
        display: none;
    }
    
    h1{
        font-size: 2.5em;
        letter-spacing: .15em;
        margin-bottom: .5em;
    }

    h2{
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: .5em;
    }

    h3{
        font-size: 1.3em;
        font-weight: 300;
        margin-bottom: .5em;
    }

    a{
        font-size: .8em;
        display: inline-block;
        padding: 1.35em 2.75em;
        background-color: $buttonBackground;
        color: white;
        margin-top: .5em;
    }

    text-align: center;
}